body {
    margin: 0;
    background-color: #111827;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}


.station {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #374151;
    position: relative;
}

.content-wrapper {
    text-align: center;
    width: 100%;
}

.viz-container {
    width: 1000px;
    height: 500px;
    background: #1f2937;
    border-radius: 16px;
    margin: 20px auto;
    position: relative;
    overflow: hidden; 
}

h2 { font-size: 2rem; margin-bottom: 0.5rem; }
h1 { font-size: 2.5rem; margin-bottom: 1rem;}

.desc { color: #9ca3af; 
    margin-bottom: 2rem; 
    padding-left: 15%;
    padding-right: 15%;}


.scroll-down-indicator {
    position: absolute; 
    bottom: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    left: 50%; 
    transform: translateX(-50%);
    width: 100px;
    color: white; 
}

footer{ color: #9ca3af;}


